---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import PostCard from "@/components/PostCard.astro";
import Pagination from "@/components/Pagination.astro";
import PageTitle from "@/components/PageTitle.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts");
  posts.sort((a, b) => Number(b.data.date) - Number(a.data.date));
  return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const categories = await getCollection("categories");
---

<Layout>
  <main class="lg:col-span-3">
    <section class="mb-12">
      <PageTitle
        pageTitle="All Posts"
        isIndex={false}
        pageSize={page.data.length}
      />

      <div class="grid gap-6 md:grid-cols-2">
        {
          page.data.map((post) => {
            const category = categories.find(
              (cat) => cat.id === post.data.category.id
            );
            return <PostCard post={post} category={category!} />;
          })
        }
      </div>
      <Pagination
        currentPage={page.currentPage}
        lastPage={page.lastPage}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
      />
    </section>
  </main>
</Layout>
