---
import type { GetStaticPaths } from "astro";
import { SITE_DESCRIPTION } from "@/consts";
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { Formatter } from "@/utils/formatter";
import { getEntry } from "astro:content";

import '@/styles/posts.css';

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { data } = post;
const { Content } = await post.render();

const category = await getEntry('categories', data.category.id);
---

<MainLayout description={SITE_DESCRIPTION} title={data.title}>
  <h1 class="text-3xl font-bold text-gray-100 mb-2">{data.title}</h1>
  <p class="text-gray-400 mb-4">
    {Formatter.formatDate(data.date)} | {category?.data.name}
  </p>
  <Content />
</MainLayout>
